mixin video(video)
    a(href=`/video/${video.id}`).video
        div.video__thumb
        div.video__data
            span.video__title=video.title
            div.video__meta 
                span #{video.owner.name} • 
                span #{video.meta.views}회
            hr