mixin video(video)
    a(href=`/video/${video.id}`).video
        img.video__thumb(src=(isHeroku ? "" : "/") + video.thumbUrl style=`
            background-size:cover;
            background-position:center;` crossorigin )
        div.video__data
            span.video__title=video.title
            div.video__meta 
                span #{video.owner.name} • 
                span #{video.meta.views}회
            hr