extends base.pug

block content 
    div 
        video#preview
        button#startRecBtn Start Recording

    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File 
        input(name="video", type="file", accept="video/*", required, id="video")
        input(name="title", placeholder="Title", required, type="text", maxlength=80)
        input(name="description", placeholder="Description", required, type="text")
        input(name="hashtags", placeholder="Hashtags", required, type="text")
        input(type="submit", value="Upload Video")

block scripts 
    script(src="/static/js/recorder.js")